.root {
  position: relative;
}

.dropdown {
  position: absolute;
  width: 100%;
  top: 32px;
  left: 0;
  max-height: 200px;
  overflow: auto;
  border: thin solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.dropdown > .dropdownItem + .dropdownItem {
  margin-top: 6px;
}

.dropdownItem {
  padding: 6px;
  cursor: pointer;
}
